# EDA - earthquake data

In [1]:
import pandas as pd

FILEPATH = "../data/raw/earthquake_data.csv"
df = pd.read_csv(FILEPATH)
df.head()

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 7.0 - 18 km SW of Malango, Solomon Islands",7.0,22-11-2022 02:03,8,7,green,1,768,us,117,0.509,17.0,mww,14.000,-9.7963,159.596,"Malango, Solomon Islands",Oceania,Solomon Islands
1,"M 6.9 - 204 km SW of Bengkulu, Indonesia",6.9,18-11-2022 13:37,4,4,green,0,735,us,99,2.229,34.0,mww,25.000,-4.9559,100.738,"Bengkulu, Indonesia",NaN,NaN
2,M 7.0 -,7.0,12-11-2022 07:09,3,3,green,1,755,us,147,3.125,18.0,mww,579.000,-20.0508,-178.346,NaN,Oceania,Fiji
3,"M 7.3 - 205 km ESE of Neiafu, Tonga",7.3,11-11-2022 10:48,5,5,green,1,833,us,149,1.865,21.0,mww,37.000,-19.2918,-172.129,"Neiafu, Tonga",NaN,NaN
4,M 6.6 -,6.6,09-11-2022 10:14,0,2,green,1,670,us,131,4.998,27.0,mww,624.464,-25.5948,178.278,NaN,NaN,NaN

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      782 non-null    object
 1   magnitude  782 non-null    float64
 2   date_time  782 non-null    object
 3   cdi        782 non-null    int64
 4   mmi        782 non-null    int64
 5   alert      415 non-null    object
 6   tsunami    782 non-null    int64
 7   sig        782 non-null    int64
 8   net        782 non-null    object
 9   nst        782 non-null    int64
 10  dmin       782 non-null    float64
 11  gap        782 non-null    float64
 12  magType    782 non-null    object
 13  depth      782 non-null    float64
 14  latitude   782 non-null    float64
 15  longitude  782 non-null    float64
 16  location   777 non-null    object
 17  continent  206 non-null    object
 18  country    484 non-null    object
dtypes: float64(6), int64(5), object(8)
memory usage: 116.2+ KB

In [3]:
df = df.drop(["title", "continent", "alert", "location", "country"], axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 782 entries, 0 to 781
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   magnitude  782 non-null    float64
 1   date_time  782 non-null    object
 2   cdi        782 non-null    int64
 3   mmi        782 non-null    int64
 4   tsunami    782 non-null    int64
 5   sig        782 non-null    int64
 6   net        782 non-null    object
 7   nst        782 non-null    int64
 8   dmin       782 non-null    float64
 9   gap        782 non-null    float64
 10  magType    782 non-null    object
 11  depth      782 non-null    float64
 12  latitude   782 non-null    float64
 13  longitude  782 non-null    float64
dtypes: float64(6), int64(5), object(3)
memory usage: 85.7+ KB

In [4]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df, title="Profiling report")
profile.to_file("dataset_profiling_earthquake.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

100%|██████████| 14/14 [00:00<00:00, 1916.14it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [ ]:
# some variables to consider removing: cdi, mmi, sig, nst, dmin,
# remove: net

In [ ]:
# Converting date_time to year and month
df["date_time"] = pd.to_datetime(df["date_time"])
df["Year"] = pd.DatetimeIndex(df["date_time"]).year
df["Month"] = pd.DatetimeIndex(df["date_time"]).month
df.drop("date_time", axis=1, inplace=True)

C:\Users\TFH\AppData\Local\Temp\ipykernel_40528\2785639632.py:2: UserWarning: Parsing dates in %d-%m-%Y %H:%M format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date_time']=pd.to_datetime(df['date_time'])

Processing data

In [ ]:
# fill out in course

Splitting in train and test

In [ ]:
# split dataset in train and test
from sklearn.model_selection import train_test_split

X = df.drop("tsunami", axis=1)
y = df["tsunami"]
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)